<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Tutorial of Thymeleaf</title>
</head>
<body>
	<h1  th:text="#{content.title}"></h1>
	<h2 th:text="#{content.message}" ></h2>
	<p th:text="${msg2}"></p>
	<p th:if="${previous != null && previous != '' }" th:text="${msg3}"></p>

	<form method="post" action=/input>
		<input type="text" name="val" th:value="${val}">
		<p>
			<button th:href="@{/output/(previous=${val})}" type="submit" th:text="#{content.sent}"></button>
		</p>
	</form>
</body>
</html>
